body {
    width: 960px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color:lightgray;
  }
  
  .container {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    gap: 20px;
  }
  
  img {
    width: 100%;
  }
  
  header {
   background-color:khaki;
   display: flex;
   align-items: center;
   justify-content:flex-end;
   padding: 0 20px;
   
  }
  header nav a {
    color:firebrick;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 350ms;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }
  header nav a:hover {
    background: violet;
    color: #222;
  }



  header nav a:hover::after {
    background: #fff;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
  }


  image-section {
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
  }
  .image-section img {
    height: 250px;
    object-fit: cover;
    width: 250px;
    align-items: center;
  }
  footer {
    background:brown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;
  }